body,td
{
	font-size: 12pt;
	font-family: 'helvetica', sans-serif;
	letter-spacing:0.5px;

}

/*left menu (table of contents) elements*/
.menulink
{
	font-size: 12px;
	font-family: 'helvetica',sans-serif
}

.enabledMenulink
{
	font-size: 12px;
	font-family: 'helvetica',sans-serif;
	text-decoration: underline;
	color: #FEFEFE;
	
}

.disabledMenulink
{
	font-size: 25px;
	font-family: 'Helvetica',sans-serif;
	text-decoration: none;
	color: #b4c401;
}

.activeMenulink, .activeMenulinkDisabled
{
	font-size: 12px;
	font-family: Lucida Grande,Lucida,Verdana,sans-serif;
	text-decoration: underline;
	color: #DDDDDD;
	font-weight: bold;
}

.activeMenulinkDisabled
{
	text-decoration: none;
}

.title
{
	font-size: 14px;
	font-family:'helvetica',sans-serif;
	color: #666666;	
	font-weight: bold;
}

#top_title
{
	font-size: 0px;
	font-family: 'helvetica',sans-serif;
	color: #666666;	
	position:absolute;
	top:5px;
	/*left:20px;*/
}

#courseTitleText {
	display:block;
	color:#666666;
	margin:5px;

}


#courseTitleText::before {
	content:url('images/logo.png')
}

/*
#top_title::after {
	content:url('images/logo.png');
}
*/

.progress {
	display:none;
}

.progressText {
	display:none;
}

#menuPreviousText, #menuNextText, #returnToLmsText, #closeSco {
	display:none;

}

#top_credit a
{
	display:none;
	font-size: 12px;
	font-family: Lucida Grande,Lucida,Verdana,sans-serif;
	color: #283F5E;	
	font-weight:100;
	position:absolute;
	top:5px;
	right:50px;
	text-decoration:none;
	cursor:pointer;
}
#top_credit a:hover {text-decoration:none;}


/*Control buttons along the top*/
.enabledTopMenuItem
{
	font-family: Lucida Grande,Lucida,Verdana,sans-serif;
	font-size: 10px;
	font-variant: normal;
	color: #b4c401;
	font-weight:bold;
	text-decoration:none;	
	cursor: hand;
	cursor: pointer !important;
}
a.enabledTopMenuItem:hover { color:#BBBBBB; text-decoration:none; }

.disabledTopMenuItem
{
	font-family: Lucida Grande,Lucida,Verdana,sans-serif;
	font-size: 10px;
	font-variant: small-caps;
	color: #283F5E;	
	opacity:.5;
}

/*background for the entire player*/
.playerBody
{
	background-color: #ffffff;
}

#tt_top
{
	background-color:#ffffff;
}

#tt_top_navMenu
{
	position:absolute;
	bottom:0px;
	width:60%;
	right:0px;
	
}
#tt_top_navMenu td {vertical-align:middle;}
#tt_left
{
background: #025497 url(images/background.png) no-repeat scroll left 0;
    background-position: right bottom;
    height: 100%;
    background-attachment: fixed;
}
	

#next {background:transparent url(images/arrow.png) no-repeat left 4px; height:30px; padding:12px 0 0 55px; display:block !important;}
#previous {background:transparent url(images/arrowback.png) no-repeat left 4px; height:30px; padding:12px 0 0 55px; display:block !important;}
#viewDebug {background:transparent url(images/debugLog_30.png) no-repeat left 3px; padding:12px 0 0 32px;height:30px;display:block !important;margin-top:3px;}
#closeSco {background:transparent url(images/close.png) no-repeat left 3px; padding:12px 0 0 30px;height:30px;display:block !important;margin-top:3px;}
#returnToLmsNoDebug {background:transparent url(images/home.png) no-repeat left 3px; padding:9px 0 0 32px;height:30px;display:block !important;margin-top:1px;
	width:90px;}
#returnToLms {background:transparent url(images/home.png) no-repeat left 3px; padding:12px 0 0 32px;height:30px;display:block !important;margin-top:3px;}
#help {background:transparent url(images/help.png) no-repeat left 3px; padding:12px 0 0 30px;height:30px;display:block !important;margin-top:3px;}

/*Progress Bar Styles*/
.ProgressBar
{
	height: 100%;
	text-align: right;
}
.progressText
{
	font-family: Lucida Grande,Lucida,Verdana,sans-serif;
	font-size: 10px;
	font-variant: small-caps;
	color: #C68D04;
	font-weight:bold;
	border: 0px solid #CCCCCC; 
	border-left:0; 
	border-right:0;	
}
.progressXImage
{
	border-top: #666666 1px solid;
	border-left: #666666 1px solid;
	border-bottom: #666666 1px solid;
}
.progressYImage
{
	border-top: #666666 1px solid;
	border-right: #666666 1px solid;
	border-bottom: #666666 1px solid;
}

#exit_dialog_body
{
	margin:0px;
	background-color:#E0EAF1;
	padding-top:5px;
	
}
#exit_dialog_div
{
	font-weight:bold;
	text-align:center;
	position:relative;
	width:100%
}

.exit_dialog_btn
{
	background-color:#0A1936;
	font-size:12px;
	width:100px;
	height:25px;
	padding-top:5px;
	text-align:center;
	vertical-align:middle;
	position:absolute;
	top:35px;
}

#exit_dialog_suspend
{
	left:30%
}

#exit_dialog_exit
{
	left:60%
}

#exit_dialog_cancel
{
	position:absolute;
	top:35px;
	right:25px;
	color:#C68D04;
	font-size:90%;
	cursor: hand;
	cursor: pointer;
	font-weight:bold;
}

#closeSco {
display:none;	
}

.player_border 
{
	background-color: #DFE5EA;
}

#PleaseClick a,
#PleaseClick a:visited {
	color:#39648F;
	text-decoration:none;
}

#PleaseClick a:hover {
	color:#754737;
	text-decoration:none;
}

#PleaseClick {
	margin-top:10px;
}

#launchBody #MessageAreaWrapper div{
	/* the launchBody message area contains multiple potential messages, one will be made visible at runtime */
	display: none;
}
#MessageAreaWrapper{
	font-size: 100%;
	text-align: center;
	position: relative;
	margin-top: 15%;  margin-left: auto; margin-right: auto;
	max-width:80%;
	width: 60em !important;
}
